<ion-view view-title="Entries">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="entries">
    <button class="button button-block button-calm button-space" ng-click="goToEntry('new')">New Entry</button>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in entries" ng-click="goToEntry(item.id)">
        <span>{{ item.title }}</span>
        <br/>
        <span class="date">{{ item.datetimeCreated | date: 'medium' }}</span>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="canLoadMore()" icon="ion-loading-c" on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>

  <script id="menu" type="text/ng-template">
    <ion-popover-view class="fit">
      <ion-content>
        <div class="list">
          <a class="item" ng-click="showAddDeviceDialog()">Link Device</a>
          <a class="item" ng-click="showWebLoginDialog()">Web login</a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
