<ion-view view-title="Login">
  <ion-content class="login" scroll="false">
    <div>
      <img src="img/icon.png" class="icon">
      <h1 class="title">Diary Manager</h1>
    </div>
    <div class="login-buttons">
      <button ng-click="showAuth()" id="login-button" class="button button-positive button-full">Login</button>

      <button class="button" ng-click="goToRegister()">Register</button>
      <button class="button" ng-click="addDevice()">Link device</button>
    </div>
  </ion-content>
</ion-view>
