<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITamagotchiService" />
        <binding name="BasicHttpsBinding_ITamagotchiService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITamagotchiService"
        contract="TamagotchiService.ITamagotchiService" name="BasicHttpBinding_ITamagotchiService" />
      <endpoint address="https://tamagotchi-wcf.azurewebsites.net/Service/TamagotchiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITamagotchiService"
        contract="TamagotchiService.ITamagotchiService" name="BasicHttpsBinding_ITamagotchiService" />
    </client>
  </system.serviceModel>
</configuration>