<div>
	<div class="row">
		<div class="col-md-6 own-container"></div>
		<div class="col-md-6 game-info-container"></div>
	</div>
	<div class="row">
		<div class="col-md-12 enemy-container"></div>
	</div>
</div>