<div class="row">
  <div class="col-md-12 history">
    <label class="pull-left">{{ first | date: 'MM-dd HH:mm:ss' }}</label>
    <label class="center">{{ currentTime | date: 'MM-dd HH:mm:ss' }}</label>
    <label class="pull-right">{{ last | date: 'MM-dd HH:mm:ss' }}</label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="range" (ngModelChange)="historyChange()" [(ngModel)]="currentTime" step="1"
           min="{{ first.getTime() }}" max="{{ last.getTime() }}"/>
  </div>
</div>
